@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1124cb, #cedffb);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
} */

.reg-layout {
  display: flex;
  width: 1000px;
  height: 600px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.reg-left, .reg-right {
  width: 50%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reg-right {
  background: linear-gradient(to bottom right, #4facfe, #00f2fe);
  color: white;
  text-align: center;
}

.reg-right h1 {
  font-size: 32px;
  font-weight: 700;
}

.reg-right p {
  font-size: 15px;
  margin-top: 10px;
}

.form-wrapper {
  width: 100%;
  max-width: 320px;
}

.form-wrapper h2 {
  margin-bottom: 25px;
  color: #222;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

form input:focus {
  outline: none;
  border-color: #2575fc;
  box-shadow: 0 0 5px #6a11cb88;
}

form button {
  width: 100%;
  padding: 12px;
  background: #2575fc;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: #1d5ee2;
}

.msg {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: green;
}

.login-redirect {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.login-redirect a {
  color: #2575fc;
  text-decoration: none;
  font-weight: 500;
}

.login-redirect a:hover {
  text-decoration: underline;
}




